.main_block {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
input, select {
    width: 15vw;
    padding: 5px;
    margin: 5px !important;
}
section {
    width: 40vw;
    height: 40vh;
    border-radius: 5%;
    padding: 10px;
}